.custom-logo {
	margin-top: -20px;
	width: 180px;
	height: 60px;
}

.large-email {
	font-size: 30px;
}

.navbar-inverse {
	background-color: #111 !important;
}

.monitor-right {
	margin-top: -20px;
	margin-left: 20px;
	height: 350px;
	width: 350px;
}

.color-option {
	display: block;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
}

.colors div {
	margin-top: 15px;
}

.team-avatar {
	height: 125px;
	width: 125px;
}

.demo-listing {
	margin-top: 10px !important;
}

.demo-listing a {
	margin-top: 10px;
}

#features {
	background-image: url(../img/bg_light2.jpg);
	background-repeat: repeat;
	border-top: 1px solid #00590b;
	border-bottom: 1px solid #00590b;
}

#warranty {
	background-image: url(../img/bg_light2.jpg);
	background-repeat: repeat;
	border-top: 1px solid #00590b;
	border-bottom: 1px solid #00590b;
}

#contact {
	background-image: url(../img/bg_light2.jpg);
	background-repeat: repeat;
	border-top: 1px solid #00590b;
}

#contact .custom-logo {
	height: 100px;
	width: 200px;
}

.warranty-list {
	margin-top: 25px;
}

.service .warranty {
	height: 300px;
	width: 375px;
}

.service .yearwarranty {
	height: 300px;
	width: 300px;
	margin-left: 35px;
}

.story-logo {
	height: 125px;
	width: 200px;
}

.social_content {
	padding-top: 20px;
}